<div>
  <template is="dom-if" if="[[isCurrent(page.current, 'users')]]" restamp>
    <user-list i18n="[[i18n]]"></user-list>
  </template>
  <template is="dom-if" if="[[isCurrent(page.current, 'user')]]" restamp>
    <user-detail i18n="[[i18n]]" user-id="[[page.param]]"></user-detail>
  </template>
  <template is="dom-if" if="[[isCurrent(page.current, 'todos')]]" restamp>
    <todo-list i18n="[[i18n]]" user-id="[[page.param]]"></todo-list>
  </template>
  <template is="dom-if" if="[[isCurrent(page.current, 'posts')]]" restamp>
    <post-list i18n="[[i18n]]"></post-list>
  </template>
</div>