<div>
  <table class="table">
    <thead>
      <tr>
        <th>[[ i18n.ID ]]</th>
        <th>[[ i18n.NAME ]]</th>
        <th>[[ i18n.EMAIL ]]</th>
      </tr>
    </thead>
    <tbody>
      <template is="dom-repeat" items="[[users]]" as="user">
        <tr class="userRow" data-id$="[[user.id]]" on-click="clickHandler">
          <td>[[user.id]]</td>
          <td>[[user.name]]</td>
          <td>[[user.email]]</td>
        </tr>
      </template>
    </tbody>
  </table>
</div>

<style>
  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    text-align: left;
    border-top: 0;
  }

  tbody td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }

  .userRow {
    cursor: pointer;
  }
</style>