<div id="changeLanguage">
  <button type="button" data-lang="it" on-click="changeLanguage">
    [[ i18n.BUTTON_LANG_IT ]]
  </button>
  <button type="button" data-lang="en" on-click="changeLanguage">
    [[ i18n.BUTTON_LANG_EN ]]
  </button>
</div>


<style>
  #changeLanguage {
    display: flex;
    margin-right: 50px;
  }

  #changeLanguage button {
    margin-left: 5px;
  }

  button {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    cursor: pointer;
  }
</style>